#0i0 i3stats

general {
  colors = true
  color_good = "#BBBBBB"
  color_bad = "#CC1616"
  color_degraded = "#55858E"
  interval = 2
  #output_format = "i3bar"
}

order += "cpu_usage"
order += "volume master"
order += "wireless wlp62s0"
order += "battery 0"
order += "tztime local"

volume master {
  device = "default"
  mixer = "Master"
  mixer_idx = 0
  format = "♪ %volume"
}

cpu_usage {
  format = "%usage"
}

wireless wlp62s0 {
  format_up = " WiFi:%essid %quality %ip"
  format_down = "No WiFi"
}

tztime local {
  format = " %m/%d %H:%M"
}

battery 0 {
  format = "%status %percentage %remaining"
  format_down = "No battery"
  status_chr = "⚡"
  status_bat = "🔋"
  status_full = "☻"
  path = "/sys/class/power_supply/BAT1/uevent"
  low_threshold = 10
}